.header {
  height: 200px;
  width: 100%;
  background-color: #E9EEF6;
}

.task-container {
  /* height: 600px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F6F7F8;
}

.card-custom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-custom {
  padding: 10px 30px;
  color: black;
  font-weight: 600;
  font-size: 18px;
}